{% load static %}
<!-- Navbar -->
<nav class="navbar is-light" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a href="{% url 'index' %}" class="navbar-item"><strong>Jobs Finder</strong></a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-end">
      {% if user.is_authenticated %}
      <a href="{% url 'dashboard' %}" class="navbar-item"><strong>{{ user.username | capfirst }}</strong></a>
      <a href="{% url 'notifications' %}" class="navbar-item"><strong>Notifications ({{ notifications.count }})</strong></a>
      <a href="{% url 'logout' %}" class="navbar-item"><strong>Log Out</strong></a>
      {% else %}
      <a href="{% url 'signup' %}" class="navbar-item"><strong>Sign Up</strong></a>
      <a href="{% url 'login' %}" class="navbar-item"><strong>Log In</strong></a>
      {% endif %}
    </div>
  </div>
</nav>