{% extends 'base.html' %}
{% block content %}
  <h2 class="title">Dashboard</h2>

  {% if profile.is_employer %}
    <h2 class="subtitle">Jobs</h2>
    {% for job in user.jobs.all %}
    <div class="job">
      {{ job.title }}
    </div>
    {% empty %}
    <p>No job posted!</p>
    {% endfor %}

  {% else %}
  <h2 class="subtitle">Applications</h2>
  {% for app in user.applications.all %}
  <div class="application">
    <a href="{% url 'application' app.id %}" class="link">{{ app.job.title }}</a>
  </div>
  {% empty %}
  <p>No application</p>
  {% endfor %}

  {% endif %}
  
{% endblock content %}